h1 {
    text-align: center;
    font-size: 64px;
}

body {
    font-size: 64px;
    font-family: sans-serif;
}

.slidercontainer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 8px;
    vertical-align: middle;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 0.8rem;
    border-radius: 5px;
    background: white;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2rem;
    height: 3rem;
    background-color: #04AA6D;
    border: 2px solid;
    border-color: white;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 2rem;
    height: 3rem;
    background-color: #04AA6D;
    border: 2px solid;
    border-color: white;
    cursor: pointer;
}

.buttoncontainer {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-size: 96px;
}

.button {
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    padding: 8px 8px;
    margin: 8px;
    /* width: px; */
}

.button:hover {
    background-color: white;
    border: 2px solid #04AA6D;
    border-radius: 8px;
    color: #04AA6D;
    cursor: pointer;
}

.cbutton {
    background-color: #04AA6D;
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    margin: 8px;
    text-align: center;
    text-decoration: none;
}

.cbutton:hover {
    background-color: white;
    color: #04AA6D;
    cursor: pointer;
}

.cbutton[disabled] {
    background-color: #04AA6D;
    border: 2px solid lightgray;
    border-radius: 8px;
    color: lightgray;
    /* width: px; */
}

.cbutton[disabled]:hover {
    background-color: #04AA6D;
    border: 2px solid lightgray;
    border-radius: 8px;
    color: lightgray;
    text-align: center;
    text-decoration: none;
    cursor: not-allowed;
    /* width: px; */
}

.maincontainer {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.childcontainer {
    background-color: #04AA6D;
    color: white;
    margin-bottom: 16px;
}

.carouselrow {
/*    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr;
    padding: 8px 8px;
    margin: 4px; */
    text-align: center;
    font-size: 32px;
}

.childrow {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
/*    padding: 8px 8px;
    margin: 4px; */
}

.weightrow {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.displayrow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #53bacc;
    color: white;
    margin-bottom: 8px;
}

.display {
    /*min-width: 100%;*/
    padding: 16px 24px;
    display: inline-block;
    text-align: left;
}

.displayname {
    /*min-width: 100%;*/
    padding: 16px 24px;
    display: inline-block;
    text-align: center;
}

.displayres {
    /*min-width: 100%;*/
    padding: 16px 24px;
    display: inline-block;
    text-align: right;
}

.displayinfo {
    /*min-width: 100%;*/
    grid-column: 1/ span 2;
    padding: 16px 24px;
    display: inline-block;
    text-align: left;
    font-size: 24px;
    color: red;
}

/*
@media screen and (max-width: 799px) {
    body {
        font-size: x-large;
    }
}

@media screen and (min-width: 800px) {
    body {
        font-size: xx-large;
    }
}
*/
