h1 {
    text-align: center;
    font-size: 64px;
}

body {
    font-size: 64px;
    font-family: sans-serif;
}

.slidecontainer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 8px;
    vertical-align: middle;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.buttoncontainer {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 48px;
}

.button {
    background-color: #04AA6D;
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    padding: 8px 8px;
    margin: 8px;
    text-align: center;
    text-decoration: none;
    font-size: 96px;
    /* width: px; */
}

.button:hover {
    background-color: white;
    border: 2px solid #04AA6D;
    border-radius: 8px;
    color: #04AA6D;
    cursor: pointer;
}

.tablecontainer {
    display: table;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.weightrow {
    background-color: #04AA6D;
    color: white;
    padding: 8px 8px;
    text-align: center;
    margin: 4px;
    margin-bottom: 16px;
}

.displayrow {
    background-color: #53bacc;
    color: white;
    padding: 8px 8px;
    text-align: center;
    margin: 4px;
}

.display {
    min-width: 100%;
    padding: 16px 24px;
    display: table-cell;
}

/*
@media screen and (max-width: 799px) {
    body {
        font-size: x-large;
    }
}

@media screen and (min-width: 800px) {
    body {
        font-size: xx-large;
    }
}
*/